body {
    background: rgb(221,221,221);
}

.container {
    width: 760px;
    margin: 0 auto;
}

.post {
    border: 1px solid #aaa;
}

.remove {
    border: 1px solid #aaa;
}

.title {
    font-size: 28px;
    border-bottom: 2px dashed #aaa;
}
    
.body {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 20px;
}
