body {
  background: #cff09e;
  font-family: Verdana, sans-serif;
  color: #0b486b;
  margin: 20 auto;
  padding-bottom: 70px;
}

#info {
	font-weight: 60px;
	padding: 10px;
	margin: 20px;
}

#search_form {
	padding: 10px;
	margin: 30px;
}

#display_all {
	padding: 10px;
	margin: 30px;
}

#header {
	background: #a8dba8;
	padding: 30px;
	margin: 10px;
	font-weight: 100px;
	border: solid 5px #3b8686;
}

#results {
    border-bottom: 2px solid #3b8686;
    margin-bottom: 10px;
}

#results h3 {
	margin-left: 15px;
}

.homepage_link {
	float: right;
	font-style: italic;
}

a {
	font-style: italic;
}



/* Below is for the search_results.html page */

.results_id {
    border-bottom: 2px solid #3b8686;
    padding: 2%;
}

ol {
	white-space: nowrap;
	padding: 0 40px;
}

li img {
	vertical-align: middle !important;
	display: inline-block !important;
	width: 20%;
}

.results_id .name {
	font-size: 18px;
	font-weight: 50px;
}

li .person_info {
	white-space: normal;
	vertical-align: middle !important;
	display: inline-block !important;
	margin-left: 5px;
}

/* Below is for the individual profile_page.html */

.profile_name {
	font-size: 28px;
	border-bottom: 2px solid #3b8686;
	margin: 5px;
}

.ind_pic .img-responsive {
	float: left;
	margin: 15px;
}

.profile_id .name {
	margin-top: 5%;
}

/* Below is for the show_all.html page */

.contact_id {
	border: 2px solid #0b486b;
	background-color: #79bd9a;
    margin: 5px;
    
}

.profile_pic {
    align: center;
}

.contact_id .name {
	font-weight: 50px;
	font-size: 18px;
    text-align: center;
}

.contact_id .idlink {
	font-size: 12px;
	text-align: center;
}
