body
    {
        padding: 0;
        margin: 20 auto;
        background: #eee;
    }

/* Container Begins */
.container
    {
        width: 85%;
        min-width: 960px;
        /*margin: 25px auto;*/
        padding: 5px;
    }
    
h1, h3
    {
        margin: 5px;
        padding: 0;
        font-weight: 100;
        font-family: Verdana sans-serif;
    }
    
h2
    {
        margin: 5px;
        padding: 0 0 0 15px;
        font-weight: 100;
        font-family: Verdana sans-serif;
    }

p
    {
        padding: 10px;
        font-size: 20px;
    }
/* Container Ends */

/* Header Begins */
.headerLeft
    {
        width: 50%;
        display: inline-block;
        float: left;
        vertical-align: top;
    }

.headerRight
    {
        display: inline-block;
        float: right;
        vertical-align: top;
    }

.headerRight img
    {
        width: 85%;
    }
/* Header Ends */

/* Content Begins */
content
    {
    
    }

content format
    {
        display: block;
        font-size: 12px;
        clear: both;
        color: #000ccc; /*change*/
    }

content #cta
    {
        padding: 5px;
        border: 1px solid #aaa;
        background: white;
    }

content #cta input
    {
        font-size: 15px;
    }

content #cta input.tf, content #cta label
    {
        display: block;
        margin-top: 10px;
        width: 362px;
    }

content #cta input.tf.name
    {
        display: inline-block;
        width: 176px;
    }
    
content #cta input.tf.name.no-margin
    {
        margin: 0;
    }

content #cta .submitButton
    {
        font-size: 20px;
        width: 368px;
        margin-top: 20px;
        padding: 6px 0;
        background: green;
        color: white;
        cursor: pointer;
        outline: none;
        border: none;
    }
/* Content Ends */

/* Footer Begins */
/*footer
    {
        background: #333;
        height: 90px;
        width: 100%;
        position: fixed;
        bottom: 0;
        color: white;
    }
    */
/* Footer Ends */

/* Global Begns */
.row
    {
        display: inline-block;
        clear: both;
    }

.row ul
    {
        padding: 5;
        margin: 20;
    }

.row ul li
    {
        list-style-type: none;
        margin: 20;
        padding: 50;
        font-size: 18px;
        font-family: Verdana sans-serif;
    }

.columnLeft
    {
        display: block;
        float: left;
        vertical-align: top;
        max-width: 50%;
    }
    
.columnRight
    {
        display: inline-block;
        /*float: right;*/
        vertical-align: top;
    }

#paws
    {
        width: 10%
    }
